.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 250px;
  margin: 10px;
  background: #FFFAFA;
  align-items: baseline;
}
.card div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 20px;
}
.card_img {
  border-radius: 50%;
}
.card_player {
  display: none;
}
.card:hover .card_player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgb(62, 165, 62);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
.card_main_text, .card_sub_text {
  margin-left: 15px;
}
.card_main_text {
  font-size: 20px;
  font-weight: bold;
}
.card_sub_text {
  opacity: 0.7;
}