.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 250px;
  margin: 10px;
  background: gray;
  align-items: baseline;
}
.card a {
  color: #FFFFFF;
}
.card .card_img_svg {
  display: grid;
  align-items: end;
  justify-items: end;
  grid-template-columns: 1fr;
  margin: 20px;
}
.card_img_svg a, .card_img {
 grid-row-start: 1;
 grid-column-start: 1;
  border-radius: 50%;
}
.card_player {
  display: none;
}
.card:hover .card_player {
 grid-row-start: 1;
 grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(62, 165, 62);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
.card_main_text, .card_sub_text {
  margin-left: 15px;
}
.card_main_text {
  font-size: 20px;
  font-weight: bold;
}
.card_sub_text {
  opacity: 0.7;
}