.recommandation_category {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.recommandation_category a {
  color: #FFFFFF;
}
.recommandation_card_list {
  display: flex;
  align-items: center;
}